* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* header */
.header {
  background-color: rgb(243, 245, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 40px;
}

.logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
  color: rgb(48, 155, 119);
}

.content a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(28, 110, 83);
  text-decoration: none;
  margin: 15px;
  transition: 0.7s;
}

.content a:hover {
 color: rgba(28, 110, 83, 0.7);
 font-weight: bold;
 cursor: pointer;
}

.search-logo {
  width: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.search-logo:hover {
  cursor: pointer;
  box-shadow: 3px 3px  12px rgba(28, 110, 83, 0.4); 
  
}
 
.header-search {
  justify-content: center;
  align-content: center;
}
.header-search input {
  background-color: rgba(28, 110, 83, 0.2);
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  transition: 0.6s;
}

.header-search input:hover {
   background-color: rgba(28, 110, 83, 0.5);   
}

.hamburger-menu {
  width: 25px;
  display: none;
  transition: 0.8s;
  border-radius: 5px;
}
.hamburger-menu:hover{
  box-shadow: 5px 5px  12px rgba(28, 110, 83, 0.5); 
  cursor: pointer;
}

/* main */

.main1{
display: flex;
padding: 20px;
margin: 20px ;
background-color: rgb(243, 245, 244);
border-radius: 10px;
}
.monet {
display: flex;
justify-content: center;
align-content: center;
width: auto;
border-radius: 50%;
margin: 0 10px
}

.tarjeta h3{
  font-size: 40px;
  letter-spacing: 5px;
  color: rgb(48, 155, 119);
  padding: 15px;
  text-align: center;
}
.tarjeta p{
  padding: 25px;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(90, 114, 106);
  text-align: justify;
}

.main2{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap:20px;
padding: 20px;
}
.main2 img{
width: 100%;
max-width: 300px;
height: auto;
display: flex;
margin-bottom: 15px;
border-radius: 5px;

}
.main2 h3{
 font-size: 25px;
  letter-spacing: 5px;
  color: rgb(48, 155, 119);
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.main2 p{
 padding: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(90, 114, 106);
  text-align: justify;
}

.cuadro1, .cuadro2, .cuadro3, .cuadro4, .cuadro5, .cuadro6 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: rgb(243, 245, 244);
  border-radius: 10px;
  

}


/* footer */
.footer-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  max-width: 1300px;
  gap: 40px;
  margin: auto;
}
.logo-footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
  color: rgb(48, 155, 119);
}
footer {
  display: flex;
  padding: 64px 20px 120px;
  gap: 40px;
  background-color: rgb(243, 245, 244);
  justify-content: flex-start;
  color: rgb(90, 114, 106);
  margin-top: 30px;
  z-index: 10;
}
footer a {
  padding: 5px;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(90, 114, 106);
  text-align: justify;
  text-decoration: none;
  transition-duration: 0.5s;
}
footer a:hover
{
  color: rgb(48, 155, 119);
  font-weight: bold;
  cursor: pointer;
}
footer h3 {
  margin-bottom: 30px;
  font-size: 16px;
}
footer nav{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}



@media screen and (max-width: 1000px) {
 .content a {
  display: none;
 }
.hamburger-menu{
  display:block;
}

.header{
  justify-content: space-between;
}
.header-search input {
  width: 100px;
}

.main1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monet {
width: 40vw;
padding: 10px;

}

.tarjeta h3{
  font-size: 25px;
  letter-spacing: 5px;
  color: rgb(48, 155, 119);
  padding: 10px;
  text-align: center;
}
.tarjeta p{
  padding: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(90, 114, 106);
  text-align: justify;
}

.main2{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap:15px;
padding: 15px; 
}

.footer-container {
  flex-direction: column;
  justify-items: center;
  align-items: center;

}


.logo-footer {
justify-items: center;
}
footer a {
  font-size: 20px;
  text-align: center;
}
footer h3 {
  margin-bottom: 25px;
  font-size: 23px;
  text-align: center;
}
footer nav{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
}

@media screen and (max-width: 600px) {
 .content a {
  display: none;
 }

 
.hamburger-menu{
  display:block;
}

.header-search input {
  display: none;
}
.main1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monet {
width: 40vw;
padding: 10px;

}

.tarjeta h3{
  font-size: 25px;
  letter-spacing: 5px;
  color: rgb(48, 155, 119);
  padding: 10px;
  text-align: center;
}
.tarjeta p{
  padding: 25px;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(90, 114, 106);
  text-align: justify;
}

.main2{
display: grid;
grid-template-columns: repeat(1, 1fr);
gap:15px;
padding: 15px; 
}
.footer-container {
  flex-direction: column;
  justify-items: center;
  align-items: center;

}


.logo-footer {
justify-items: center;
}
footer a {
  font-size: 15px;
  text-align: center;
}
footer h3 {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}
footer nav{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

}